/*
Handles phones
*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px){

    main{
      font-size: .8em;
    }

    .navbar-toggler{
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar-logo{
      width: 48px;
      height: 48px;
    }

    .nav-authors-name{
      font-size: 25px;
      margin-left: 3%;
      margin-right: auto;
      padding: 0;
    }

    .focused-text p{
        font-size: 1em;
    }

    .home-articles .row{
      max-width: 90%;
      margin-left: 5%;
      margin-right: auto;
    }

    .col-md-6{
      padding: 0;
    }

}
