/*
Handles phones
*/
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 767px){

    main{
      font-size: .8em;
    }

    .navbar-toggler{
      position: absolute;
      top: 10%;
      right: 2%;
    }


    #collapsing-navbar.navbar-collapse.collapse.show,
    #collapsing-navbar.navbar-collapse.collapsing{
      padding: .5em;
      max-width: 78%;
      margin-left: 7%;
      border-radius: .4em;
    }

    .navbar-logo{
      width: 48px;
      height: 48px;
    }

    .navbar-brand{
      font-size: 20px;
      margin-left: 6%;
      margin-right: auto;
      padding: 0;
    }

    .jumbotron{
      padding:8em 0em;
      padding-bottom: 1em;


    }

    .jumbotron .container{
      padding: .3em;
      max-width: 80%;
      margin-left: 10%;
      margin-right: auto;
    }

    .jumbotron .display-5{
      font-size: 1.4em;
      padding: .1em;
      text-align: center;
    }

    .jumbotron .lead{
      font-size: 1.1em;
    }

    .jumbotron h5{
      font-size: 1.4em;
    }

    .jumbotron .btn{
      margin: auto;
    }

    .display-5{
      font-size: 2.4em;
      padding-left: 8%;
    }

    .home-articles .display-4{
      font-size: 2.7em;
      text-align: center;
      margin: 0;
    }

    .home-articles h1{
      margin-left: 10%;

    }

    .home-articles .card-header{
      padding-left: .3em;
      padding-right: 1em;
    }



    .project_type_image{
      width: 30px;
      height: 30px;
    }

    .text-white-2{
      font-size: 2em;
    }

    .focused-text{
      max-width: 90%;
      margin-right: 5%;
      margin-left: auto;
    }

    .focused-text p{
        font-size: 1em;
    }

    .home-articles .row{
      max-width: 90%;
      margin-left: 5%;
      margin-right: auto;
    }

    .home-articles .card-body{
      min-height: 8vh;
    }

    .col-md-6{
      padding: 0;
    }

    .image-photograph{
      height: 40vh;
    }

<<<<<<< HEAD
    .image-backdrop{
     height: 40vh;
=======
    .image-backdrop {
      height: 40vh;
>>>>>>> 85c52d4c39a61eeee21aaae623dd273ed40727f1
    }

    .carousel-item img{
      height: 30vh;
    }

}

/*
Handles tablets
*/
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){
    main{
      font-size: 1.2em;
    }

    .lead{
      font-size: 24px;
    }

    .navbar-brand{
      font-size: 30px;
    }

    .jumbotron{
      padding: 6em 0em;
      padding-bottom: 1em;
    }

    .home-articles{
      font-size: 1em;
    }

    .home-articles .card-header{
      padding: .4em;
    }

    .home-articles .card-title{
      padding-right: 1em;

      font-size: 1.1em;
    }


    .focused-text{
      max-width: 90%;
      margin-right: 10%;
    }

    .jumbotron .container{
      padding-top: 2em;
      max-width: 80%;
      margin-left: 10%;
      margin-right: auto;
    }

    .home-articles .row{
      max-width: 90%;
      margin-left: 5%;
      margin-right: auto;

    }



    .project_type_image{
      width: 30px;
      height: 30px;
    }


    .home-articles .card-body{
      min-height: 10vh;
    }

    .carousel-item img{
      height: 40vh;
    }
  }
