/*
I set the entire pages margin to 0px so the navbar would stretch all the way to the side, we can later change other
*/

body{
  margin: 0;
  background-position: top;
  background-size: cover;
  width: 100%;
  background-image: url(images/GrayWallBackground.jpg);

}

main{
  font-family: 'Work Sans', sans-serif;
}

img{max-width: 100%;}


.page-header{
  color: #DDDDDD;
}

.navbar {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  width: 100%;
  transition: .8s;
}
.navbar-logo {
  width: 65px;
  height: 65px;
  margin: 0;
}

.navbar-brand{
  font-size: 1.8em;
  font-weight: 500;
  padding-left: .8em;
  color: #F0FFFF !important;
  -webkit-text-stroke: .4px #282828;
  text-shadow: 1px 1.5px 1.5px #282828;
}



.navbar li{
  padding: .1em .8em;
}

.navbar ul{
  transition: .8s;
  font-size: 21px;
}

.nav-link{
  color: white !important;
  transition-delay: font-weight .3s;
  transition: width .3s ease-out, font-size .3s ease-out, font-weight step-start;
}

.nav-link:hover{
  width: 115%;
  font-size: 115%;
  font-weight: 600;
  -webkit-text-stroke: .7px black;
}

.nav-item img{
  width: 32px;
  height: 32px;
  float: right;
}



.jumbotron{
  background-image: url(images/cyberforce.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-family: 'Crimson Text', serif;
  padding: 9em 5em;
}

.jumbotron .container{
  background-color: rgba(20, 20, 21, 0.75);
  padding: 1em;
  border-radius: 2em;
}

.home-articles .row{
  display: flex;
  max-width: 80%;
  margin-right:10%;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}


.col-lg-9{
    max-width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

.row .card{
  border-style: none;
  background: #C0C0C0;
}

.row .card-header{
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-title{
  text-decoration: none;
  color: #F0FFFF;
  font-size: 1.43em;
  font-weight: 500;
  text-align: left;
  font-family: 'Crimson Text', serif;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.card-footer{
  padding: .3em;
}

.container .type-project-posts{
  padding-top: 3em;
}


.post-photo{
  object-fit: cover;
  height: 20vh;
}

.image-backdrop{
  background-color: rgba(20, 20, 21, 0.75);
  padding: 1em 2em;
  border-radius: .3em;
}

.project_type_image{
  display: block;
  float: left;
  padding-left: .25em;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.ellipsis-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project-post{
  margin-bottom: 1.5em;
}

.post-section{
  margin-top: 6.2em;
}

.focused-text{
  background-color: rgba(112, 128, 144, 0.2);
  max-width: 80%;
  border-top-left-radius: 1em;
  border-top-right-radius: .3em;
  border-bottom-left-radius: .3em;
  border-bottom-right-radius: 1em;
}

.focused-text p{
  display: block;
  white-space:pre-wrap;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  padding: 1.4em;
  color: #EEEEEE;
}

.text-white-2{
  color: #E7E9EE;
}

.form-section{
  padding-top: 7em;
  padding-left: 6em;
  padding-right: 6em;
}

#form-content{
  height: 600px;
}

.carousel-inner{
  border-radius: .85em;
  background-color: rgba(20, 20, 21, 0.75);
}

.carousel-item img{
  height: 60vh;
}

.carousel-control{
  background-color: rgba(88, 88, 88, 0.8);
  max-width: 5%;
  height: 26%;
  top: 35%;

}

.carousel-control-prev{
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.carousel-control-next{
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.carousel-indicators{
  bottom: -1.7em;
}

.alert, .alert-success{
  margin-top: 1.5em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer{
  position:fixed;
  bottom: 10px;
  padding-left: 10px;
}
