/*
I set the entire pages margin to 0px so the navbar would stretch all the way to the side, we can later change other
*/

html{

}

body{
  margin: 0;
  background-image: url(images/GrayWallBackground.jpg);
  background-position: top;
}


main{
  padding-top: 2.5em;
  font-family: 'Work Sans', sans-serif;
}


.page-header{
  padding-top: .2em;
  margin-top: .4em;
}

.navbar{
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.navbar ul{
  padding:inherit;
  width: inherit;
  height: inherit;
  list-style-type: none;
  background-color: #27506E;
  overflow: hidden;
}
.logo {
  float: left;
  display: block;
  padding-top: .3em;
  height: 44px;
  width: 44px;
}
.nav-page-links li{
  float: left;
}

.nav-image-links li{
  float: right;
  padding-top: 8px;
  padding-right: .75em;

}
.nav-page-links li a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: .8em 1em;

}
.nav-page-links li a:hover{
  background-color: #194D6A;
}

.jumbotron{
  background-image: url(images/cyberforce.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-family: 'Crimson Text', serif;
}

.jumbotron .container{
  background-color: rgba(20, 20, 21, 0.8);
  padding: .8em;
}

.home-articles .row{
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.col-md-6{
  margin-right: auto;
  padding: 0 4em 0 4em;
}

.row .card{
  border-style: none;
  background-color: #DCDCDC;
}

.row .card-header{
  background-color: #4C7695;
}

.card-title{
  text-decoration: none;
  color: #FAF4EE;
  font-size: 1.3em;
  font-weight: 500;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.project_type_image{
  display: block;
  float: left;
  padding-left: .25em;
}

.focused-text{
  margin-bottom: 4em;
}

.focused-text p{
  text-indent: 2em;
}

.text-white-2{
  color: #E7E9EE;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer{
  position:fixed;
  bottom: 10px;
  padding-left: 10px;
}
