/*
I set the entire pages margin to 0px so the navbar would stretch all the way to the side, we can later change other
*/

body{
  margin: 0;
  background-position: top;
  width: 100%;
  background-image: url(images/GrayWallBackground.jpg);
}

main{
  font-family: 'Work Sans', sans-serif;
}

img{max-width: 100%;}

.page-header{
  padding-top: 2em;
}

.navbar {
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  width: 100%;
  transition: .8s;
}
.navbar-logo {
  width: 65px;
  height: 65px;
  margin: 0;
  transition: .8s;
}

.nav-authors-name{
  font-size: 40px;
  font-weight: 500;
  padding-left: .8em;
  color: white !important;
  transition: .8s;
  text-shadow: .8px .6px #000000;
}

.navbar-collapse{
  padding-left: .5em;
}

.navbar li{
  padding: .1em .8em;
}

.navbar ul{
  transition: .8s;
  font-size: 21px;
}

.nav-link{
  color: white !important;
  text-shadow: 1px 1px #000000;
}


.jumbotron{
  background-image: url(images/cyberforce.jpg);
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  font-family: 'Crimson Text', serif;
  padding: 12em 5em;
}

.jumbotron .container{
  background-color: rgba(20, 20, 21, 0.75);
  padding: 1em;
  border-radius: 2em;
}

.home-articles .row{
  max-width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.col-md-6{
  padding: 0 4em 0 4em;
}

.col-lg-9{
    max-width: 80%;
    margin-left: 10%;
    margin-right: auto;
}

.row .card{
  border-style: none;
  background-color: #DCDCDC;
  border-radius: .9em;
}

.row .card-header{
  background-color: #4C7695;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.card-title{
  text-decoration: none;
  color: #FAF4EE;
  font-size: 1.3em;
  font-weight: 500;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

.container .type-project-posts{
  padding-top: 3em;
}


.post-photo{
  object-fit: cover;
}

.project_type_image{
  display: block;
  float: left;
  padding-left: .25em;
}

.ellipsis-text{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.focused-text{
  margin-bottom: 4em;
}

.focused-text p{
  text-indent: 2em;
}

.text-white-2{
  color: #E7E9EE;
}

.form-section{
  padding-top: 7em;
  padding-left: 6em;
  padding-right: 6em;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer{
  position:fixed;
  bottom: 10px;
  padding-left: 10px;
}
