{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h1 class="display-4 page-header text-white-2">Coding Projects</h1>
  <hr>
  <div class="row text-center">
    {% for post in posts.items %}
    <div class="col-lg-9">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <a class = "card-title" href="{{ url_for('project', project_id=post.id) }}">{{ post.title }}</a>
        </div>
        <div class="card-body">
          <p class= "card-text max-length-card">{{ post.content }}</p>
        </div>
        <div class="card-footer text-right">
          <small class="text-muted">Date posted: {{ post.date_posted.strftime('%m-%d-%Y') }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container mt-5 text-center">
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('coding', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('coding', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        <small>...</small>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock content %}
