{% extends "layout.html" %}
{%block content%}
    <h1 class="page-header">What I've Been Up To...</h1>
    <section class="tbd">
      <div class="container">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                {{ post.title }}
              </div>
              <div class="card-body">
                <p class= "card-text"> {{ post.content }} </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Date posted: {{ post.date_posted }}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{%endblock content%}
