{% extends "layout.html" %}
{%block content%}
    <div class="jumbotron text-left bg-dark">
      <div class="container text-white">
        <h1 class="display-4"> Welcome To My Website!</h1>
        <p class="lead">Hi, my name is Vincent Monteleone and this is my portfolio site</p>
        <hr class="my-4">
        <p>Below are some of my most recent projects. This site is itself one of my projects, having to learn how to code in HTML and CSS.</p>
        <a class="btn btn-info btn-lg" href="{{ url_for('about') }}"> Learn More</a>
      </div>
    </div>
    <section class="text-center">
      <div class="container">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                {{ post.title }}
              </div>
              <div class="card-body">
                <p class= "card-text"> {{ post.content }} </p>
              </div>
              <div class="card-footer text-right">
                <small class="text-muted">Date posted: {{ post.date_posted }}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
{%endblock content%}
