{% extends "layout.html" %}
{%block content%}
    <div class="jumbotron" id="home-jumbotron">
      <div class="container text-white" id="jumbotron-container">
        <h1 class="display-4">See Everything I've Ever Done</h1>
        <p class="lead">My name is Vincent Monteleone. I'm currently about to graduate from St. John's University, Majoring in Computer Science.
        This website embodies the energy and pride of all my coding, writing, photography, and related art-works. The best part is this entire website is a project itself!
        </p>
        <h5><strong>Check out what I've been up to below!</strong></h5>
        <div class="text-right">
          <a class="btn btn-info btn-lg mr-4"href="{{ url_for('main.about') }}"> Learn More</a>
        </div>
      </div>
    </div>
    <section class="home-articles">
      <div class="container-fluid text-left">
        <h1 class="display-4 text-white-2" style="font-family: 'Roboto Mono', monospace;">Latest Projects:</h1>
        <hr class="my-2">
        <div class="row text-center ">
          {% for post in posts.items %}
          <div class="col-md-6" >
            <div class="card mb-4 shadow-lg border-0">
              <div class="card-header">
                <img  src="{{ url_for('static', filename=post.type_image ) }}" class="project_type_image">
                <a class = "card-title" href="{{ url_for('posts.project', title=post.project.title) }}">{{ post.project.title }}</a>
              </div>
              <div class="card-body">
                <p class= "card-text"> {{ post.content }} </p>
              </div>
              <div class="card-footer text-right">
                <small class="text-muted">Date posted: {{ post.project.date_posted.strftime('%m-%d-%Y') }}</small>
              </div>
              {% if post.author == current_user %}
                <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1"href="{{ url_for('posts.update_post', post_id=post.id) }}">Update Post</a>
                  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      </section>
      <div class="container mt-5 text-center">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if page_num %}
            {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
          {% else %}
            <small>...</small>
          {% endif %}
        {% endfor %}
      </div>
{%endblock content%}
