<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-reboot.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='devices.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,500&display=swap" rel="stylesheet">
    <title>Vincent Monteleone's Current Workflow: coding and personal-writing projects!</title>
  </head>

  <body>
    <header>

      <nav class="navbar fixed-top navbar-expand-xl navbar-dark" id="navigation-bar">
        <img class="navbar-logo" id="navbar-logo" src="{{url_for('static', filename='images/VLM_Logo_v2.png')}}" alt="restaurant logo (rooster)">
        <span class="navbar-brand" id="navbar-brand">Vincent Monteleone</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsing-navbar" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation" style="background:#1D2327;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsing-navbar">
          <ul class="navbar-nav ml-auto" id="nav-list-container">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('posts.coding')}}">Coding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('posts.writings')}}">Writings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('posts.photography')}}">Photography</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('main.about')}}">About</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('posts.addpost')}}">Add Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="https://github.com/vincemonte"><img class="image-link" id="image-link" src="{{url_for('static', filename='images/GitHub_White.svg')}}"></a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
    <main role="main">
      {%with messages = get_flashed_messages(with_categories=true) %}
            {%if messages%}
              {%for category, message in messages%}
              <div class="alert alert-{{category}}">
                {{message}}
              </div>
              {% endfor %}
            {% endif %}
        {% endwith%}
        {% block content %}{% endblock %}
    </main>
    <footer>@vincemonte 2020</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='pageUtils.js')}}"></script>
  </body>
</html>
