{% extends "layout.html" %}
{% block content %}
  <div class="container text-white-2">
    <h1 class="display-4 page-header">{{ project_post.title }}</h1>
    <small class="text-muted">{{project_post.date_posted.strftime('%m-%d-%Y')}}</small>
    <hr class="my-3">
     <section class="text-left focused-text">
       <p class="lead">{{ project_post.content }}</p>
     </section>
     {% if project_post.files %}
      {%for file in files%}
        <img src="{{url_for('static', filename=file)}}">
      {%endfor%}
     {% endif %}
  </div>
{% endblock content%}
