{% extends "layout.html" %}
{% block content %}
  <div class="container text-white-2">
    <h1 class="display-4 page-header">{{ project_post.title }}</h1>
    <small class="text-muted">{{project_post.date_posted.strftime('%m-%d-%Y')}}</small>
    <hr class="my-3">
     <section class="text-left focused-text">
       <p class="lead">{{ project_post.content }}</p>
     </section>
     {% if project_post.files %}
      {%for file in files%}
        <img src="{{url_for('static', filename=file)}}">
      {%endfor%}
     {% endif %}
     {% if project_post.author == current_user %}
       <div>
         <a class="btn btn-secondary btn-sm mt-1 mb-1"href="{{ url_for('update_post', proj_id=project_post.id) }}">Update Post</a>
         <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
       </div>

     {% endif %}
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_post', proj_id=project_post.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}
